@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
}
body{
    overflow-x: hidden;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
nav{
    background: black;
    max-height: 56px;
}
nav *{
    display: inline-block;
}
nav ul{
    list-style: none;
    width: 100%;
    max-height: 56px;
}
#greeting{
    font-weight: bold;
    font-size: 35px;
}
.menu-tengah{
    margin: 0 4%;
}
.menu-tengah a{
    padding: 16px 40px;
    text-decoration: none;
    color: white;
}
.menu-tengah a:hover{
    background: rgba(255, 255, 255,0.3) ;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
#ref{
    height: 440px;
}
#ref a{
    text-decoration: none;
    color: white;   
}
#ref h2{
    text-align: center;
    z-index: 12;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}
#ref1{
    display: inline-block;
    /* background: url('./youtubePhone.jpg'); */
    background-size: cover; 
    position: relative;
    float: left;
    width: 50%;
    /* left: 0px; */
}
#ref1Caption{
    position: absolute;
    z-index: 9;
    left: 40%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: bold;
    font-size: 30px;
    color: white;
}
#ref1 > div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.8);
    position: absolute;
    z-index: 6;
}
.gambarPilihan{
    width: 100%;
    height: 100%;
    transition: .5s ease;
    /* filter: grayscale(100%); */
}
.gambarPilihan:hover{
    filter: grayscale(0%);
}
#ref2{
    display: inline-block;
    /* background: url('./handWriting.jpg'); */
    background-size: cover;
    width: 50%;
    position: relative;
    /* right: 0px; */
    float: right;
}
#ref2Caption {
    position: absolute;
    z-index: 9;
    right: 30%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: bold;
    font-size: 30px;
    color: white;
}
#ref2 >div {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    z-index: 6;
}
#pemisah{
    position: absolute;
    background: white;
    width: 15%;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%) skew(20deg);
}
#pemisah h2{
    font-size: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#pemisah,#ref1,#ref2{
    height: 440px;
}

footer{
    margin-top: 35px;
    width: 100%;
    height: 62px;
    background: #ecf0f1;
}
footer > center{
    width: 100%;
    padding-top: 1.6%;
}
footer span{
    color:rgba(100, 100, 100, .8);
}

#headingImage{
    width: 100%;
    height: 238px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

#judul{
    margin: 80px 50px 0px 50px;
    color: white;
    font-size: 60px;
}

#materi{
    background: #ebebeb;
    margin: 0 50px;
    box-shadow: -20px 20px 20px rgba(80, 80, 80, 0.75);
}
.adaPaddingnya{
    border: 20px solid rgba(0, 0, 0, 0);
    width: 100%;
    box-sizing: border-box;
}

#tombolDiskusi{
    width: 10%;
    background: #c4c4c4;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 90%;
    margin-bottom: 25px;
    border-radius: 20px;
}

#tombolDiskusi:hover{
    cursor: pointer;
}

.captionTable{
    margin: auto;
    width: 10%;
    text-align: center;
    color: rgba(100, 100, 100,.8)
}

.greenHighlight{
    width: 100%;
    background: #7AB59B;
    padding: 20px
}
.greenHighlight ol{
    list-style-position: inside;
    padding: 0;
    margin: 0;
}
#navigasiMateri{
    width: auto;
    margin:40px 0 0 0;
}
#navigasiMateri a{
    text-decoration: none;
}
.prevMateri{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: #7AB59B;
    display: inline-block;
    margin: 0 10px;
}
.segitigaKiri{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #c4c4c4;
    transform: rotatez(-90deg);
    position: relative;
    top: 23px;
    left: 3px;
}
.balokKiri{
    height: 55px;
    width: 10px;
    background: #c4c4c4;
    position: relative;
    top: -20px;
    left: -18px;
}
.nextMateri {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: #7AB59B;
    display: inline-block;
    margin: 0 10px;
}
.segitigaKanan {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #c4c4c4;
    transform: rotatez(90deg);
    position: relative;
    top: 20px;
    left: -2px;
}

.balokKanan {
    height: 55px;
    width: 10px;
    background: #c4c4c4;
    position: relative;
    top: -20px;
    left: 18px;
}
.sebelumMateri, .setelahMateri{
    position: relative;
    top: -28px;
    font-size: 25px;
    color: rgba(100, 100, 100,.8);
}

.layarGelapDiskusi, .jendelaDiskusi{
    position: fixed;
}
.layarGelapDiskusi{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 150;
    top: 0px;
}
.jendelaDiskusi{
    margin: 5%;
    width: 90%;
    height: 80%;
    background: #ebebeb;
    z-index: 151;
    top: 0px;
}
.tombolClose{
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translateX(50%) translateY(-50%);
    cursor: pointer;
}
.balokSilangKiri, .balokSilangKanan{
    height: 28px;
    width: 8px;
    background: black;
    transform: rotateZ(45deg);
    position: absolute;
    left: 10.5px;
    top:.5px;
}
.balokSilangKanan{
    transform: rotateZ(-45deg);
}
.layarChat{
    box-sizing: border-box;
    border: 15px solid #ebebeb;
    width: 100%;
    background: white;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.namaUser, .isiPesanUser{
    /* border: 15px solid #ebebeb; */
    margin: 15px;
    border-radius: 10px;
}
.namaUser{
    width: 15%;
    border-color: red;
}
.isiPesanUser{
    width: 79.7%;
    border-color: red;
}
.buttonPesanUser{
    border-right: 15px solid #ebebeb;
    float: right;
}
.buttonPesanUser button{
    border:none;
    background: #37EC54;
    padding: 5px;
    cursor: pointer;
}
.lawanBicara {
    padding: 20px;
}

.kotakChatLawanBicara {
    width: 60%;
    height: auto;
    background: #DFDEDE;
}
.diriSendiri {
    padding: 20px;
    position: relative;
    right: 0px;
}

.diriSendiri > div{
    width: 60%;
    position: relative;
    margin-left: 40%;
}

.namaDiriSendiri{
    width: 100%;
    text-align: right;
}

.kotakChatDiriSendiri {
    height: auto;
    background: #DFDEDE;
}

.latSoal{
    font-weight: bold;
    font-size: 48px;
    margin-left: 20%;
    margin-top: 50px;
}
.soal1{
    margin-left: 15%;
    margin-top:20px;
}

.pilihan{
    width: 900px;
    height: 75px;
    border: 0px solid black;
    background-color: #D8D2D2;
    margin-bottom: 50px;
    padding: 10px;
    font-size:30px;
    font-weight: bold;
    vertical-align: : middle;
    text-align: left;
    cursor: pointer;
}

.gruppil{
    margin-left: 20%;
    
}

.pertanyaan{
    font-size: 30px;
    font-family: roboto;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
.txtpil{
    margin: 20px 3%;
    display: inline-block;
}


.btnSubmit{
    width: 90px;
    height: 30px;
    padding: 20px;
    margin-right: 10%;
    margin-left: 70%;
    font-size: 25px;
    font-family: roboto;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #D8D2D2; 
    color: grey;   
    cursor:default;
}
.btnNext{
    width: 90px;
    height: 30px;
    padding: 20px;
    margin-right: 10%;
    margin-left: 70%;
    font-size: 25px;
    font-family: roboto;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #D8D2D2; 
    color: black;   
    cursor:pointer;
}

.enabled{
    cursor: pointer;
    color:black;
}
.selected{
    background-color: #5754EB;
}
.wrong{
    background-color: #FF2732;
}

.right{
    background-color: #2DCD5A;
}